<mat-toolbar>
  <a class="anchor-container" routerLink="/">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="pokeball"
        ><img src="../../assets/image/pokeball-pokemon-svgrepo-com.svg"
      /></mat-icon>
    </button>
  </a>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Icone with star icon"
  >
    <mat-icon routerLink="favoritos">star</mat-icon>
  </button>
</mat-toolbar>
