<mat-card
  (click)="goPage(pokemon)"
  class="poke-card"
  *ngFor="let pokemon of pokemonDetail"
>
  <mat-card-header>
    <mat-card-title>{{ pokemon.name.toUpperCase() }}</mat-card-title>
    <div class="box-title">
      <mat-card-subtitle *ngFor="let item of pokemon.types; let size = index">
        <span *ngIf="size > 0"> </span>
        {{ item.type.name.toUpperCase() }}
      </mat-card-subtitle>
    </div>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ pokemon.sprites.other['official-artwork'].front_default }}"
    alt="Photo of a Shiba Inu"
  />
</mat-card>
