<div class="general__container">
  <div class="container__1">
    <div class="name-container">
      <h1>{{ pokemonName.toLocaleUpperCase() }}</h1>
    </div>
    <div class="size-container">
      <span>Peso: {{ pokemonData[0].weight }}kg</span>
      <span>Altura: {{ pokemonData[0].height }}cm</span>
    </div>
  </div>
  <div class="container__2">
    <img
      src="{{ pokemonData[0].sprites.other['official-artwork'].front_default }}"
      alt="{{ pokemonData[0].name }}"
    />
  </div>
  <div class="container__3">
    <div class="container-caracteristics">
      <h2>Atributos:</h2>
      <div class="container-stats">
        <mat-card>HP: {{ this.pokemonData[0].stats[0].base_stat }}</mat-card>
        <mat-card
          >ATAQUE: {{ this.pokemonData[0].stats[1].base_stat }}</mat-card
        >
        <mat-card
          >DEFESA: {{ this.pokemonData[0].stats[2].base_stat }}</mat-card
        >
        <mat-card
          >ATAQUE ESPECIAL:
          {{ this.pokemonData[0].stats[3].base_stat }}</mat-card
        >
        <mat-card
          >DEFESA ESPECIAL:
          {{ this.pokemonData[0].stats[4].base_stat }}</mat-card
        >
        <mat-card
          >VELOCIDADE: {{ this.pokemonData[0].stats[5].base_stat }}</mat-card
        >
      </div>
    </div>
  </div>
</div>
