<div class="general__container">
  <div class="container__1">
    <div class="name-container">
      <h1>Bulbasaur</h1>
    </div>
    <div class="size-container">
      <span>Peso: 173kg</span>
      <span>Altura: 10.59cm</span>
    </div>
  </div>
  <div class="container__2">
    <img
      src="https://maurowernly.github.io/Pokedex/images/pokemons/001Bulbasaur.png"
      alt="aaa"
    />
  </div>
  <div class="container__3">
    <div class="container-caracteristics">
      <h2>Atributos:</h2>
      <div class="container-stats">
        <mat-card>HP: 11</mat-card>
        <mat-card>ATAQUE: 11</mat-card>
        <mat-card>DEFENSE: 11</mat-card>
        <mat-card>VEL. ATAQUE: 11</mat-card>
        <mat-card>VEL. DEFESA: 11</mat-card>
        <mat-card>VELOCIDADE: 11</mat-card>
      </div>
    </div>
  </div>
</div>
